
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Bem Vindo</h1>
        <div>
            @foreach(string strPais in (List<string>)ViewData["Paises"])
            {
                <li>@strPais</li>
            }
        </div>
    </div>
</body>
</html>
